// Custom Button Variables
// Button mixin in non-printing/mixins/_content-utilities.scss
// Example usage:
//  @include button();
$btnBackgroundColor: c(midnight-blue);
$btnBackgroundHoverColor: c(cardinal);
$btnBorderTopColor: c(midnight-blue);
$btnBorderBottomColor: c(midnight-blue);
$btnBorderLeftColor: c(midnight-blue);
$btnBorderRightColor: c(midnight-blue);
$btnBorderTopHoverColor: c(cardinal);
$btnBorderBottomHoverColor: c(cardinal);
$btnBorderLeftHoverColor: c(cardinal);
$btnBorderRightHoverColor: c(cardinal);
$btnBorderTopWidth:  rem-calc(1px);
$btnBorderBottomWidth:  rem-calc(1px);
$btnBorderLeftWidth:  rem-calc(1px);
$btnBorderRightWidth:  rem-calc(1px);
$btnBorderTopWidthHover:  rem-calc(1px);
$btnBorderBottomWidthHover:  rem-calc(1px);
$btnBorderLeftWidthHover:  rem-calc(1px);
$btnBorderRightWidthHover:  rem-calc(1px);
$btnBorderTopStyle: solid;
$btnBorderBottomStyle: solid;
$btnBorderLeftStyle: solid;
$btnBorderRightStyle: solid;
$btnBorderTopStyleHover: solid;
$btnBorderBottomStyleHover: solid;
$btnBorderLeftStyleHover: solid;
$btnBorderRightStyleHover: solid;
$btnBorderTopLeftRadius: 0;
$btnBorderTopRightRadius: 0;
$btnBorderBottomLeftRadius: 0;
$btnBorderBottomRightRadius: 0;
$btnBorderTopLeftRadiusHover: 0;
$btnBorderTopRightRadiusHover: 0;
$btnBorderBottomLeftRadiusHover: 0;
$btnBorderBottomRightRadiusHover: 0;
$btnColor: c(white);
$btnColorHover: c(white);
$btnFontFamily: $font-stack-buttons;
$btnFontSize: rem-calc(24px);
$btnFontWeight: bold;
$btnFontStyle: normal;
$btnLetterSpacing: 0;
$btnLineHeight: 1;
$btnTextTransform: uppercase;
$btnPadding: rem-calc(10px 20px);
$btnFontFamilyHover: $font-stack-buttons;
$btnFontSizeHover: rem-calc(24px);
$btnFontWeightHover: bold;
$btnFontStyleHover: normal;
$btnLetterSpacingHover: 0;
$btnLineHeightHover: 1;
$btnTextTransformHover: uppercase;
$btnPaddingHover: rem-calc(10px 20px);
$btnBoxShadowX: 0;
$btnBoxShadowY: 0;
$btnBoxShadowBlur: 0;
$btnBoxShadowSpread: 0;
$btnBoxShadowColor: transparent;
$btnBoxShadowHoverX: 0;
$btnBoxShadowHoverY: 0;
$btnBoxShadowHoverBlur: 0;
$btnBoxShadowHoverSpread: 0;
$btnBoxShadowHoverColor: transparent;
$btnTextShadowX: 0;
$btnTextShadowY: 0;
$btnTextShadowBlur: 0;
$btnTextShadowColor: transparent;
$btnTextShadowHoverX: 0;
$btnTextShadowHoverY: 0;
$btnTextShadowHoverBlur: 0;
$btnTextShadowHoverColor: transparent;
